.jumbo {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: auto;
    z-index: 2;
    text-align: left;
    justify-content: space-around;
    color: #444;
}


.jumbo:nth-child(2n+1)
{
    background: rgba(240,240,240,0.8);
}
.jumbo:nth-child(2n)
{
    background: rgba(0, 167, 255,0.8);
}

@media only screen and (max-width: 767px) {
    .jumbo{
        flex-direction: column;
    }
    .jumbo-image{
        margin: auto;
    }
}
@media only screen and (min-width: 768px) {
    .column:nth-child(2n+1) {
        text-align: left;
    }

    .column:nth-child(2n){
        text-align: right;
    }
    .column{
        max-width: 60%;
    }

}

.column{
    padding: 20px;
}

.jumbo-title{
    font-size: 2.4em;
    color: black;
}

.jumbo-image{
    max-height: 40vh;
}

.jumbo-subText{
    font-size: 2em;
}
