.habitFormPage {
    padding: 10px 40px;
}

.habitFormPage form {
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 767px) {
    .habitFormPage form {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {

    .habitFormPage form .form-column:not(:first-child) {
        padding-left: 40px;
        border-left: 2px solid #ddd;
    }

    .form-column {
        padding: auto;
        width: 30%;
    }
}

.addRoutineButton:disabled {
    background: #aaa
}

form input {
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
}

form textarea {
    padding: 8px;
    border-radius: 4px;
}

.input_name {
    width: 200px;
}

.input_descr {
    width: 200px;
    height: 60px;
}
