.Main{
    min-height: 100vh;
    width: 100%;
    background: rgba(240,240,240,0.8);
    margin: 0;
    padding: 10px 0px;
    text-align: left;

}

.Dashboard-head {
    padding: 10px;
}



@media only screen and (max-width: 767px) {
    .dbhead-content{
        display: flex;
        flex-direction: column;
    }
    .NewHabitButton {
        margin: auto;
    }
    .Menu{
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .dbhead-content {
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }
    .NewHabitButton {
        float: right;
    }
    .Menu {
        float: left
    }

}
.Menu {
    display:flex;
    align-items:flex-end;
}

.Menu h1 {
    padding: 5px 10px;
}
.Menu h1:hover {
    background: #444;
    color: white;
}

.Menu a{
    color: #00a7ff;
}

.NewHabitButton {
    padding: 10px;
    background: #00a7ff;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    color: white;
}

.NewHabitButton:hover {
    background: rgba(0, 167, 255,0.8);
}
