.Stats-page {

}

@media only screen and (max-width: 767px) {
    .Stats-header {
        flex-direction: column;
    }

}
@media only screen and (min-width: 768px) {
    .Stats-header {
        height: 200px;
    }
}

.Stats-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #333;
}

.Stats-header .col {
    text-align: center;
    padding: 20px;
}

.col h1 {
    margin: 0px;
}

.big {
    font-size: 5em;
}

.achievements-section {
    padding: 12px;
}

.achievements-list {
    list-style-type: none;
    padding: 0px;
    width: 100%;
}

.achievements-list li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 3;
}

.achievements-list li:hover {
    background: #ddd;
}
