.routine-page{
    padding: 0px 30px;
}
.routine-page-top {
    display: flex;
}

.routine-title {
    font-family: Helvetica, Arial, sans-serif;
}

.submissionWarning {
    color: rgba(0,0,0,.5);
}

form input {
    padding: 8px;
    color: #ddd;
    background: #444;
    border-radius: 4px;
    margin: 4px;
}

form textarea {
    padding: 8px;
    color: #ddd;
    background: #444;
    border-radius: 4px;
}

.submission-notes{
    width: 200px;
    height: 60px;
}

.formButton{
    display: inline-block;
    margin: 4px;
    text-align: center;
    padding: 4px;
    font-size: 1.2em;
    border-radius: 4px;
    color: #fff;
}

.showAllButton{
    font-size: 1.2em;
    padding: 4px;
    border-radius: 4px;
}

.showAllButton:hover{
    background: #aaa;
}

.deleteButton{
    background: #f00;
}

.editButton{
    background: #00a7ff;
}

.deleteFormButton {
    width: 200px;
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    color: #000;
    background: #f00;
    border-radius: 15px;
    margin: 20px 0px;
}
@media only screen and (max-width: 767px) {
    .routine-page-top {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .routine-page-top {
        flex-direction: row;
        justify-content: space-between;
    }
    .submissionInfoSection{
        width: 45vw;
        padding-left: 20px;
        border-left: 2px solid #ddd;
    }
    .routineInfoSection{
        width: 45vw;
    }
}

.activateButton{
    width: 200px;
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    background: #00a7ff;
    border-radius: 15px;
    margin: 20px 0px;
}
.allSubmissionsSection {
    margin-top: 12px;
}
.allSubmissionsSection .submissionInfo{
    width: 100%;
    border-top: 1px solid #ddd;
}
