
.App-header {
    display: block;
    background-color: #fff;
    border-bottom: 5px solid #00a7ff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    font-family:Helvetica, Arial, sans-serif;
    margin-bottom: 2px;
}

@media only screen and (max-width: 767px) {
    .Header-menuItemList li form {
        display: none;
    }
    .Header-menuItemList{
        margin: 0px;
        padding: 0px;
    }
    .mobile-login input[type=text]{
        width: 25%;
    }
    .mobile-login input[type=password]{
        width: 25%;
    }
    .mobile-login{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 767px) {
    .mobile-login{
        display: none;
    }

}
.Header-menuItemList {
    list-style-type: none;
    flex-direction: row;
    display: flex;
}

.App-TitleLink{
    color: #000;
    font-size: 40;
    text-decoration: none;
    padding: 10px;
}

a {
    text-decoration: none;
}

li span {
    color: #000;
    font-size: 40;
    text-decoration: none;
    padding: 10px;
}

li span:hover{
    color: #00a7ff;
}

ul li span:hover {
    background: #ddd;
}

.Header-content {
    margin: 0 auto;
    height: 70px;
    line-height: 1.5;
    color: #111;
    max-width: 960px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.App-title {
  font-size: 1.8em;
  margin: 0;
  font-weight: 800;
}
.AppTitle-subtext{
    font-size: 0.8em;
}
