
.Dashboard-list {
    text-align: center;
    padding: 1px;
    margin: 0px;
    border-top: 1px solid #333;
}

.TaskListTitle{
    margin: 8px;
}

.taskItem {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #333;
    align-items: center;
    font-size: 24;
    line-height: 3;
}

.taskItem:hover {
    background: rgba(200,200,200,0.8);
}

.name {
    width: 30%;
    border-right: 1px solid #aaa;
}

.time {
    width: 40%;
    border-right: 1px solid #aaa;
}

.detailsButton {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailsButton:hover {
    background: rgba(150,150,150,0.8);
}

.recentProgress {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.dayProgress{
    width: 15%;
}

.done {
    color: #55dd55;
}
.fail {
    color: #dd5555;
}
.inProgress {
    color: #555555;
}
