
.Dashboard-list {
    text-align: center;
    padding: 1px;
    margin: 0px;
    border-top: 1px solid #333;
}

.TaskListTitle{
    line-height: 40px;
    font-size: 1.2em;
}

.taskItem {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #333;
    align-items: center;
    line-height: 3;
}

.taskItem:hover {
    background: #f4f4f4;
}

.dropdownbutton {
    margin: 4px;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .TaskListTitle{
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .TaskListTitle{
        padding: 0px 4px;
        margin: 0px 60px;
    }
}


.name {
    width: 50%;
    border-right: 1px solid #aaa;
}

.time {
    width: 50%;
    border-right: 1px solid #aaa;
}

.detailsButton {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailsButton:hover {
    background: rgba(150,150,150,0.8);
}

.recentProgress {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.dayProgress{
    width: 15%;
}

.done {
    color: #55dd55;
}
.fail {
    color: #dd5555;
}
.inProgress {
    color: #555555;
}
